[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
setuptools-scm = "*"
sphinx-autobuild = "*"
sphinx-material = "*"
sphinx-design = "*"

[dev-packages]

[requires]
